

.progress {
  overflow: hidden;
  border-bottom: 1px solid $light-gray;
}

.progress-status {
  border-bottom: 2px solid $bright-color; 
  text-align: right;
  width: 50px;
  padding-right: $padding-small-horizontal; 
}

.progress-score {
  font-weight: bold;
}




