.education-school {
  font-size: $font-size-huge;
  font-weight: bold;
  margin: 0;
}

.education-major,
.education-honor {
  list-style-type: none;
  line-height: $line-height-base;
  margin: 0;
  padding: 0;
}
@include set-section-icon(education, $fa-var-book);

.education-major {
  @include set-li-icon($fa-var-book);
}
.education-honor {
  
  @include set-li-icon($fa-var-trophy);
}
.education-description {
  margin-left: $padding-large-vertical;
}