header {
	@include float-container;
	padding-bottom: $padding-base-vertical;
	background-color: $bright-color;
	color: white;
	box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.3),
              0px -2px 5px 0px rgba(255, 255, 255, 0.2) inset; 
}
.header-row {
  margin-left: -8px;
  margin-right: -8px;
  overflow: hidden;
  @media (max-width: $screen-xs-max){
    margin-left: 0px;
  margin-right: 0px;
  }
}
.title {
    float: right;
    text-align: right;
    margin: 0;

    @media screen and (max-width: $screen-xs-max) {
      float: none;
      text-align: center;
    }
}

.title h1, .title h2 {
    margin: $padding-small-vertical 0;
    line-height: 1;
}

.title h1 {
    padding: $padding-small-vertical 0;
    color: $easy-white;
}

.title h2 {
    padding: $padding-small-vertical $padding-base-vertical;
    font-weight: normal;
}

address {
    @include float-container;
}

header .contact {
    float: left;
    margin: 0;
    padding-bottom: $padding-container-vertical;
    padding-left: $padding-large-horizontal;
    @media print and (max-width: $screen-xs-max) {
      float: none;
      margin-top: $padding-large-vertical;
      padding-left: $padding-xs-horizontal;
    }
}

header .contact li {
    list-style-type: none;
    font-style: normal;
    line-height: 1.4;
    font-size: $font-size-medium;
    word-break: break-all;
}

header a:link, header a:visited {
    color: $easy-white;
}


header a:hover, header a:active {
    color: $font-gray;
}


