@mixin mediumFont{
  font-size: $font-size-medium;  
}
section {
  margin-bottom: $padding-huge-vertical;
};

.content-section-item,
.content-section {
  border-top: 3px solid $bright-color;
  background: $easy-white;
  margin-bottom: $padding-container-vertical;
  border-radius: $border-radius-small;
  padding-bottom: $padding-large-vertical;
}

.content-section {
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.2),
              0px -1px 4px 0px rgba(33, 33, 33, 0.1) inset; 
  @media (max-width: $screen-xs-max){
    margin-bottom: $padding-large-vertical;
  }
}

.content-section-item {
  // border-top: 3px solid $theme-color;
  border: 0;
  border-top-left-radius: $border-radius-small;
  border-top-right-radius: $border-radius-small;
  padding-top:$padding-small-vertical;
  box-shadow: 0px -5px 8px 1px rgba(0, 0, 0, 0.1),
              0px -2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: $padding-small-vertical;
}


.sec-title-wrapper {
  @include float-container;
}

.sec-content {
  padding: 0 $padding-large-horizontal;
  // margin: -$padding-large-vertical 0 0 $padding-small-horizontal;
  @include float-container;
}
.sec-item-in-item {
  padding: 0 0;
}
.sec-title,
.sec-title-item {
  float: left;
  padding: $padding-large-vertical $padding-large-horizontal;
  margin: 0 0 0 $padding-small-horizontal;
  @include float-container;
  @media(max-width: $screen-ip5-max){
    font-size: $font-size-base;
    padding: $padding-large-vertical 0;
    
  }
}



.sec-title-ch,
.sec-item-title-ch {
  font-size: $font-size-large;
  float: left;
  font-weight: bold;
  @include mediumFont;
}
.sec-item-title-ch {
  font-weight: 600;
}

.sec-title-en,
.sec-item-title-en {
  font-size: $font-size-base;
  float: left;
  clear: left;
  color: $light-color;
  font-weight: bold;
  @include mediumFont;
}
@mixin fa-sec-icon($content){
  @include fa-icon($sec-icon-size, $sec-icon-padding, $text-color);
  content: $content;
}

.sec-item-title-en {
  font-weight: 600;
  font-size: $font-size-small;
}
// .sec-title-wrapper::before {
//   @include fa-sec-icon($fa-var-github-square)
// }
@mixin set-section-icon($section-name, $content){
  .#{$section-name} .sec-title-wrapper::before{
    content: $content;
  }
}

