a {
  text-decoration: none;
  transition: all 0.1s ease-out;

  &:link {
    color: $link-color;
  }
  &:visited {
    color: $link-color;
  }
  &:hover {
    color: $text-color;
  }
  &:active {
    color: $text-color;
  }
}

html {
  margin: 0;
  padding: 0;
}
body {
  color: $text-color;
  background-color: $bg-color;
  font-family: $font-family-sans-serif;
  margin: 0;
  padding: 0;
  font-size: $font-size-base;
}

h1 { font-size: $font-size-h1;}
h2 { font-size: $font-size-h2;}
h3 { font-size: $font-size-h3;}
h4 { font-size: $font-size-h4;}
h5 { font-size: $font-size-h5;}
h6 { font-size: $font-size-h6;}

.container {
  background-color: $easy-white;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

strong {
  font-weight: bold;
  color: $bright-color;
}
