$red: #CE5C60;
$gray: #525A6F;
$font-gray: #2B3950;
$theme-color: #6C7888;
$light-gray: #999EAC;
$easy-white: #FAFBFC;

$bright-color: $red;
$bright-contrast-color: $gray;
$dark-color: $font-gray;
$light-color: $light-gray;
