.timeline-wrapper {
  @include float-container;
  float: right;
  @media(max-width: $screen-xs-max){
    // float: left;
    // clear: left;
    // margin:0 $padding-small-horizontal;
    font-size: $font-size-small;
    line-height: $font-size-medium*2;
  }
}

.timeline li {
  list-style-type: none;
}

.timeline-tiem {
  padding-bottom: $timeline-end-size;
  
}

.timeline-title {
  padding: $padding-large-vertical $padding-large-horizontal;
  margin: 0 $padding-small-horizontal 0 0;

  @include float-container;
  @media(max-width: $screen-ip5-max){
    padding-left: 0;
    padding-right: 0;
  }
  // @media(max-width: $screen-xs-max){
  //   margin: 0 padding-small-horizontal;
  //   padding: 0 padding-small-horizontal;
    
  // }
}